APP_NAME=TJX Operativita API
APP_ENV=local
DEBUG=true

SQLITE_DB_PATH=./data/tjx_operativita.db

TEMPLATES_ROOT=C:/Progetti/Tjx operatività/TEMPLATES
PDF_ORDINI_DIR=PDF ORDINI
DOCUMENTI_EXPORT_DIR=DOCUMENTI EXPORT
ORDINE_FORNITORE_DIR=ORDINE A FORNITORE
